
.cp-component {
    border: #ddd 1px solid;
    border-radius: 4px 4px 4px 4px;
    padding: 0 15px;
    margin: 15px 0;
}

h1 {
    border-bottom: 1px solid #ddd;
}

.editable-unsaved {
    color: #060;
    background-color: #cfc;
}

#game-status-box {
    display:none;
}

.warning-text {
    color:#f00;
    font-weight:bold;
    padding-left: 5px;
}

.panel table.table {
    margin-bottom: 0 !important;
}

.cp-text-large {
    font-size:170%;
    line-height: 190%;
}

.control-with-sign {
    display: inline !important;
    width: auto !important;
}
